<template>
    <div class="body-block">
        <div
            id="main-editor-content"
            contenteditable="true"
            @input="onInput"
            @mouseup="selectText"
            class="body-block__textarea">
            {{ text }}
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex';
    import _ from 'lodash'


    export default {
        data: function () {
            return {
                text: ''
            }
        },
        computed: {
            ...mapState('texts', ['changeText'])
        },
        watch: {
            changeText(newValue, oldValue) {
                this.text = newValue;
                document.getElementById('main-editor-content').innerHTML = newValue;
            },
        },
        methods: {
            ...mapActions('texts', ['setText','setSelection']),
            onInput: _.debounce(function (e) {
                this.text = e.target.innerText;
                this.setText(this.text)
            }, 500),
            selectText () {
                this.setSelection(window.getSelection().toString())
            }
        }
    }
</script>

<style lang="scss">
    .body-block {
        width: 100%;
        &__textarea {
            background: #1E1E1E;
            color: #EAEAEA;
            width: 100%;
            border: none;
            overflow: auto;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            resize: none;
            min-height: 1200px;
        }
    }
</style>
