<template>
    <div class="actions-list">
        <actions-list-item
            @click.native="goPrev"
            :disabled="prevStepDisabled"
            icon="left" />
        <actions-list-item
            @click.native="goPost"
            :disabled="postStepDisabled"
            icon="right"/>
        <actions-list-item
            @click.native="toHeader"
            :disabled="!selectedText"
            icon="text" />
        <actions-list-item
            @click.native="toParagraph"
            :disabled="!selectedText"
            icon="two_texts" />
        <actions-list-item
            @click.native="showImgUrlModal"
            icon="image_icon" />
        <copy-html-button />
        <upload-url-modal />
    </div>
</template>

<script>
    import ActionsListItem from '~/components/actions/buttons/ActionsListItem'
    import CopyHtmlButton from '~/components/actions/buttons/CopyHtmlButton'
    import UploadUrlModal from '~/components/modals/UploadUrlModal'
    import { mapState, mapActions } from 'vuex';
    export default {
        data: function () {
            return {
                prevStepDisabled: true,
                postStepDisabled: true
            }
        },
        components: {
            ActionsListItem,
            CopyHtmlButton,
            UploadUrlModal
        },
        methods: {
            ...mapActions('texts', ['setPreviousText','setPostText','setHeader','setParagraph']),
            goPrev() {
                this.setPreviousText()
            },
            goPost() {
                this.setPostText()
            },
            toHeader() {
                let currText = document.getElementById('main-editor-content').innerHTML;
                this.setHeader(currText);
            },
            toParagraph() {
                let currText = document.getElementById('main-editor-content').innerHTML;
                this.setParagraph(currText);
            },
            showImgUrlModal() {
                this.$modal.show('img-url-modal');
            }
        },
        computed: {
            ...mapState('texts', ['prevState','postState','selectedText'])
        },
        watch: {
            prevState: {
                handler: function(newValue) {
                    this.prevStepDisabled = newValue[1] ? false : true;
                },
                deep: true
            },
            postState: {
                handler: function(newValue) {
                    this.postStepDisabled = newValue[0] ? false : true;
                },
                deep: true
            }
        },
    }
</script>

<style lang="scss">
    .actions-list {
        display: flex;
    }
</style>
