<template>
    <div
        class="actions-list-item"
        v-bind:class="{ 'actions-list-item_disabled': disabled }">
        <div
            class="actions-list-item__image"
            v-bind:style="{ 'background-image': 'url(/icons/' + icon + '.png)' }"/>
    </div>
</template>

<script>
    export default {
        props: {
            icon: {
                type: String,
                default: null
            },
            disabled: {
                type: Boolean,
                default: false
            }
        }
    }
</script>

<style lang="scss">
    .actions-list-item {
        background: #282828;
        border-radius: 4px;
        padding: 9px 10px;
        margin-right: 12px;
        cursor: pointer;
        &__image {
            background-size: contain;
            background-repeat: no-repeat;
            height: 20px;
            width: 22px;
        }
        &_disabled {
            opacity: 0.3;
        }
    }
</style>
