<template>
    <div class="copy-html-button">
        Скопировать HTML
    </div>
</template>

<script>
    export default {}
</script>

<style lang="scss">
    .copy-html-button {
        color: #639EFF;
        margin-left: 7px;
        cursor: pointer;
        margin-top: 9px;
    }
</style>
