@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0px;
  background: #E5E5E5;
}
.main-container {
  max-width: 766px;
  margin: 0 auto;
  background: #1E1E1E;
  color: #59606D;
}