<template>
  <div class="main-page">
    <actions-list />
    <body-block class="main-page__body" />
  </div>
</template>

<script>
    import ActionsList from '~/components/actions/ActionsList'
    import BodyBlock from '~/components/body/BodyBlock'
    export default {
        components: {
            ActionsList,
            BodyBlock
        }
    }
</script>

<style lang="scss">
  .main-page {
    &__body {
      margin-top: 31px;
    }
  }
</style>
