<template>
    <modal
        class="upload-img-url-modal"
        name="img-url-modal"
        transition="nice-modal-fade"
        :min-width="200"
        :min-height="50"
        :delay="100"
        :adaptive="true">
        <div class="upload-img-url-modal__content">
            <input
                placeholder="Вставьте ссылку на картинку"
                v-model="imgUrl"
                class="upload-img-url-modal__input">
            <button
                @click="uploadImgByUrl"
                :disabled="!imgUrl"
                class="upload-img-url-modal__button"
                type="button"
            >Загрузить</button>
        </div>
    </modal>
</template>

<script>
    import { mapState, mapActions } from 'vuex';

    export default {
        data: function () {
            return {
                imgUrl: null
            }
        },
        methods: {
            ...mapActions('texts', ['uploadImage']),
            uploadImgByUrl() {
                let currText = document.getElementById('main-editor-content').innerHTML;
                let body = {
                    currText: currText,
                    imgUrl: this.imgUrl
                }

                this.uploadImage(body);

                this.$modal.hide('img-url-modal');
            }
        }
    }
</script>

<style lang="scss">
    .upload-img-url-modal {
        &__content {
            padding: 20px;
        }
        &__input {
            width: 100%;
            border: none;
            outline: none;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &__button {
            margin: 0 auto;
        }
    }
</style>